<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/animate.css' />
</head>

<body>
  <p>body content before script</p>
  <script defer type="text/javascript" src="/js/jquery.js"></script>
  <p>body content before script1</p>
  <script type="text/javascript" src="/js/script1.js"></script>
  <script type="text/javascript" src="/js/script2.js"></script>
  <script type="text/javascript" src="/js/script3.js"></script>
  <p>body after script</p>
  {{!-- {{{body}}} --}}
</body>

</html>